.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
backend/bin/
**/.DS_Store
gf
main
main.exe
backend/output/
backend/manifest/output/
backend/temp/
backend/temp.yaml
backend/bin
frontend/node_modules/
frontend/dist/
frontend/build/
.playwright-cli/
.playwright-mcp/